<html>
<head>
<title>Embedded URLs</title>
</head>

<body bgcolor="#FFFFFF" text="#000000">
    <p>
        <img src="image/SDU.png" width="400px">
    </p>
    <p>This little HTML file is being served by wireshark.grydeske.net.</p>
    <p>It contains two embedded images.</p>
    <br>
    <p>The image above, also served from the wireshark.grydeske.net web site, is the logo of SDU.</p>
    <br>
    <p>A scary comic strip by www.jkosner.com is below as a separate object</p>
    <p>
        <img src="image/threaths.jpg" width="800px">
    </p>
</body>
</html>
